version: '3.8'
services:
  neo4j:
    image: neo4j:5.12
    environment:
      - NEO4J_AUTH=neo4j/strongpassword
    ports:
      - "7474:7474"   # HTTP Browser
      - "7687:7687"   # Bolt
    volumes:
      - neo4j_data:/data

volumes:
  neo4j_data:

